<web-app>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.example.usermanagement.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
</web-app>
